

// .loader {
//   position: fixed;
//   opacity: 0;
//   top: 50%;
//   left: 40%;
//   width: 120px;
//   height: 75px;
//   z-index: 9999;
//   border-radius: 50%;
//   border-top: 10px solid $primary-color, ;
//   border-right: 20px solid $secondary-color;
//   border-bottom: 30px solid $tertiary-color;
//   -webkit-animation: spin ease-in-out infinite;
//   animation: spin delay ease-in-out infinite;
//   animation-duration: 350ms;
//   animation-iteration-count: 5;
//   transform: translate(50%, -50%);


// }

// @-webkit-keyframes spin {
//   0% {
//     -webkit-transform: rotate(0deg);
//     opacity: 0;

//   }

//   100% {
//     -webkit-transform: rotate(360deg);
//     opacity: 1;
//   }

//   75% {
//     -webkit-transform: rotate(0deg);
//     opacity: 1;
//   }

//   25% {
//     -webkit-transform: rotate(90deg);
//     opacity: 0.5;
//   }

//   50% {
//     -webkit-transform: rotate(180deg);
//     opacity: 0.2;
//   }

//   0% {
//     -webkit-transform: rotate(360deg);
//     opacity: 0;
//   }

// }

// @keyframes spin {
//   0% {
//     -webkit-transform: rotate(0deg);
//     opacity: 0;
//   }

//   100% {
//     -webkit-transform: rotate(360deg);
//     opacity: 1;
//   }

//   75% {
//     -webkit-transform: rotate(0deg);
//     opacity: 1;
//   }

//   25% {
//     -webkit-transform: rotate(90deg);
//     opacity: 0.5;
//   }

//   50% {
//     -webkit-transform: rotate(180deg);
//     opacity: 0.2;
//   }

//   0% {
//     -webkit-transform: rotate(360deg);
//     opacity: 0;
//   }
// }




.loader {

  border-radius: 50%;
  border-left: 5px solid lightgray;
  border-top: 10px solid $primary-color, ;
  border-right: 5px solid $secondary-color;
  border-bottom: 10px solid $tertiary-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 350ms ease-in-out infinite;
  animation: spin 350ms ease-in-out infinite;
  animation-duration: 350ms;

  margin:auto;
inset: 0;
  position:fixed;
  z-index: 9999;
  opacity: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 0;

  }

  100% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }

  75% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }

  25% {
    -webkit-transform: rotate(90deg);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.2;
  }

  0% {
    -webkit-transform: rotate(360deg);
    opacity: 0;
  }

}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }

  75% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }

  25% {
    -webkit-transform: rotate(90deg);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.2;
  }

  0% {
    -webkit-transform: rotate(360deg);
    opacity: 0;
  }
}