.appear {
    -webkit-animation: fade 2500ms linear;
    animation: fade 2500ms linear;
    animation-iteration-count: 1;

}



@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}



//menu-card appear(restaurant-page)
.slide-down {

    -webkit-animation: fade 1500ms linear forwards;
    animation: fade 1500ms linear forwards;
    animation-iteration-count: 1;
    transform-origin: left;

}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*check-btn*/



.dish-card:hover>.check {
    -webkit-animation: slide-rtl 300ms linear forwards;
    animation: slide-rtl 300ms linear forwards;

    @keyframes slide-rtl {
        0% {
            transform: translateX(0rem);

        }

        100% {
            transform: translateX(-4rem);

        }
    }
}

@-webkit-keyframes slide-rtl {
    0% {
        transform: translateX(0rem);

    }

    100% {
        transform: translateX(-4rem);

    }


}

.checkbox:hover::after {
    -webkit-animation: rotate 300ms linear forwards;
    animation: rotate 300ms linear forwards;
}

@-webkit-keyframes rotate {
    0% {

        transform: rotate(360deg);
    }

    100% {

        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {

        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}


.fade1{
    -webkit-animation: fade-in 1500ms linear 50ms forwards;  
    animation: fade-in 1500ms linear 50ms forwards;
    transform: scale(0);
    transform-origin: top center;
    opacity: 0;
}

.fade2{
    -webkit-animation: fade-in 1500ms linear 1500ms forwards;  
    animation: fade-in 1500ms linear 1500ms forwards;
    transform: scale(0);
    transform-origin: top center;

    opacity: 0;
}

.fade3{
    -webkit-animation: fade-in 1500ms linear 3000ms forwards;  
    animation: fade-in 1500ms linear 3000ms forwards;
    transform: scale(0);
    transform-origin: top center;
    opacity: 0;
}

@keyframes fade-in {
    0%{
        transform: scale(0);
        transform-origin: 100% 0%;
        transform: translateX(0% 0%);
        opacity: 0;
    }

    50%{
        transform: scale(0.5);
        transform-origin: 50% 50%;
        transform: translateX(0% 20%);

        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        transform-origin: 100% 100%;
        transform: translateX(100% 100%);

        opacity: 1;
    }
    
}