.appear {
    -webkit-animation: fade 2500ms linear;
    animation: fade 2500ms linear;
    animation-iteration-count: 1;

}



@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}



//menu-card appear(restaurant-page)
.slide-down {

    -webkit-animation: fade 1500ms linear forwards;
    animation: fade 1500ms linear forwards;
    animation-iteration-count: 1;
    transform-origin: left;

}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*check-btn*/



.dish-card:hover>.check {
    -webkit-animation: slide-rtl 300ms linear forwards;
    animation: slide-rtl 300ms linear forwards;

    @keyframes slide-rtl {
        0% {
            transform: translateX(0rem);

        }

        100% {
            transform: translateX(-4rem);

        }
    }
}

@-webkit-keyframes slide-rtl {
    0% {
        transform: translateX(0rem);

    }

    100% {
        transform: translateX(-4rem);

    }


}

.checkbox:hover::after {
    -webkit-animation: rotate 300ms linear forwards;
    animation: rotate 300ms linear forwards;
}

@-webkit-keyframes rotate {
    0% {

        transform: rotate(360deg);
    }

    100% {

        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {

        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}