@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: outset 2px 5px 5px 0px #F6F6F6;
    background-color: #EAEAEA;
}

@mixin shadow-bx {
    box-shadow: 0px 4px 15px 0px #AEAEAE;
    background-color: #F6F6F6;
}

@mixin box-style {
    border: 2px solid #F6F6F6;
    border-radius: 15px;
}

@mixin circle-step {

    border-radius: toRem(25);
    background-color: $primary-color;
    color: #fff;
    width: toRem(24);
    height: toRem(24);
    text-align: center;
    position: relative;
    right: toRem(10);
    @include flex-center;

}